p {
    text-align: center;
    color: #8F0D07;
}

h1 {
    text-align: left;
    color:rgb(22, 40, 145);
}

#texto1{color: rgb(103, 14, 121); font-size: 2em; font-family: 'Signika Negative', sans-serif;}
#texto2{color: #62941c; font-size: 1.5em;}

.cuadro {
    background-color: deepskyblue;
    width: 100px;
    height: 100px;
    margin: 10px;

}

*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#cuadro1:hover { 
    background-color: yellow;

}

ul:first-child {
    color: #c07608;
}

li:first-child {
    color: #c07608;
}

#input1:focus {
   background-color: darkblue;
}

#color1{
    background-color: rgb(50, 86, 1, 0.5)
}

#color2{
    background-color: #8700A6
}

#color3{
    background-color: crimson;
}

#color4{
    background-color: rgb(9, 45, 51);
}

.colores{
    padding: 30px;
    margin: 30px;
    display:block ;
}

.contenedor {

    height: 400px;
    width: 600px;
    border: 5px inset crimson;
    border-radius: 25px;
    background-image: url(perro1.jpg);
    background-size: cover;
    
    
    
}

h3 {
    text-align: left; font-family: 'Signika Negative', sans-serif;
    color:yellow;
    font-size: 3em;
    text-align: right;
}

/* clase 3 */

.cuadro1 {

    width: 100%;
    height: 1000px;
    margin: 10px;
    /* background-color: red; */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./imagenes/vader.jpg"); */
    /* background-size: cover; */
    background: rgb(0,0,0);
    background: linear-gradient(120deg, rgba(0,0,0,0.5) 0%, rgba(50,10,98,0.5) 35%, rgba(83,5,23,0.5) 69%, rgba(255,0,53,0.5) 100%), url("./imagenes/vader.jpg");
    background-size: cover;
    /* para hacer degradados */
    /* para colocar degradado en un angulo es #(angulo)deg */

    /* background-image: border-radius(circulo,white,red,black); */

}

.cuadro2 {

    width: 150px;
    height: 150px;
    margin: 0px;
    background-color: black;
    background: linear-gradient(120deg, rgba(0,0,0,0.5) 0%, rgba(50,10,98,0.5) 35%, rgba(83,5,23,0.5) 69%, rgba(255,0,53,0.5) 100%), url("./imagenes/pato-caminando.gif");
    background-size: cover;

    animation-name: mi_animación_parte1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    

}

.contenedor-gif{
    height: 800px;
    width: 100%;
}


@keyframes mi_animación_parte1{

    0%{
        transform: translateX(0px) translateY(0px);

        /* background-color: rgba(0,0,0,1); */
    }

    25%{

        transform: translateX(400px) translateY(0px);
        /* background-color: rgba(50,10,98,1); */
    }
    50%{
        
        transform: translateX(400px) translateY(600px);
        /* background-color: rgba(83,5,23,1); */
        
    }

    75%{
        transform:  translateX(0px) translateY(600px);
        /* background-color: rgba(255,0,53,0.4) */
    }

    100%{
        transform:  translateX(0px) translateY(0px);
    }
}

.cuadro3{

    height: 200px;
    width: 200px;
    border: 2px black;
    background-color: aqua;
    margin: 10px 30px 40px 20px;
    box-sizing: border-box;
    
}

.cuadro4{

    /* display:inline ; */
    height: 200px;
    width: 200px;
    border: 2px black;
    background-color:slateblue;
    margin: 10px 30px 40px 20px;
    box-sizing: content-box;
    
}

.circulo1{

    border-radius: 100%;
    position: fixed;
    right: 30px;
    /* top: 30px; */
    bottom: 0px;
    height: 60px;
    width: 60px;
    background-color: green;
    margin: 10px 30px 40px 20px;
    


    
}

.iconito{

    margin: 10px 30px 70px 20px;
    box-shadow: 4px 3px 10px 10px;
    color: white;
    height: 60px;
    width: 60px;
    padding: auto;
   
    
}

/* CLASE 4 */

#bloque{
    text-align: center;
    text-decoration-line: overline;
    text-decoration-color: red;
}


/* espacio entre palabras/ espacio entre lineas /colocar sombras  */
.parrafo{
    word-spacing: 5px;
    line-height: 1.5;
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.5);
    /* text-shadow: 2px 2px 0.5px black, 2px 2px 1px green; */
    /* font-size-adjust: 20px; */
    font-style: italic; 
}

.parrafo2{
    text-align: center;
    font-style: italic;
    font-size: 28px;
    font-weight: 600;
}

.listaC{

    list-style-type: square ;
}

.ciudades{
    list-style-type: circle;
    list-style-type: lower-roman;

}

/* para hace una caja con información (tabla con varios espacios)*/
#customers{
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th{
    border: 1px solid red;
    padding: 8px;
}

#customers tr:hover {background-attachment: green;}

#customers th {
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #10078f;
    color: white;
}

/* para hace una caja con información (tabla con varios espacios)*/

/*jerarquia el id mayor que class*/
#jugador{
    color: blue
}
.player{
    color: red;
}

h6{
    color: green;
    
}